body{
    text-align: center;
    padding: 50px;
    font-size: 18px;
}
div {
    display: block;
}
.inputStr{
    margin:40px;
}
#outputInfo{
    padding: 15px;
    border : 5px solid #90CAF9;
    border-radius: 10px ;
    color: #1E88E5;
    background-color : #BBDEFB;
}
#htmInfo{
    padding: 15px;
    border : 5px solid #EBEBEB;
    border-radius: 10px ;
    background-color : #FAFAFA;

}
#inputBox{
    padding: 15px;
    border: 5px solid #d6e9c6;
    border-radius: 10px;
    color: #43A047;
    background-color: #dff0d8;
}
.footer{
    margin-top: 15px;
    padding: 10px;
    border: 5px solid #FFD6D6;
    border-radius: 10px;
    color: #0077CD;
    background-color: #FFF8D6;
}
h1{font-size: 1em}
h2{font-size: 0.9em}
h3{font-size: 0.8em}
h4{font-size: 0.7em}
.text{font-weight: normal;}