body{
    text-align: center;
    padding: 50px;
}
div {
    display: block;
}
.tag_name{
    margin:40px;
}
#tagInfo{
    padding: 15px;
    border : 5px solid #90CAF9;
    border-radius: 10px ;
    color: #1E88E5;
    background-color : #BBDEFB;
}
#info{
    padding: 15px;
    border : 5px solid #EBEBEB;
    border-radius: 10px ;
    background-color : #FAFAFA;

}
#inputBox{
    padding: 15px;
    border: 5px solid #d6e9c6;
    border-radius: 10px;
    color: #43A047;
    background-color: #dff0d8;
}
.footer{
    margin-top: 15px;
    padding: 15px;
    border: 5px solid #FFD6D6;
    border-radius: 10px;
    color: #0077CD;
    background-color: #FFF8D6;
}
